<head>

    <!-- Primary Meta Tags -->
    <title>OmgRod</title>
    <meta name="title" content="OmgRod" />
    <meta name="description" content="Hi! I am OmgRod and I make videos and games. You can find me on other places by clicking the link above." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://omgrod.com" />
    <meta property="og:title" content="OmgRod" />
    <meta property="og:description" content="Hi! I am OmgRod and I make videos and games. You can find me on other places by clicking the link above." />
    <meta property="og:image" content="/banner.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://omgrod.com" />
    <meta property="twitter:title" content="OmgRod" />
    <meta property="twitter:description" content="Hi! I am OmgRod and I make videos and games. You can find me on other places by clicking the link above." />
    <meta property="twitter:image" content="/banner.png" />

    <!-- Meta Tags Generated with https://metatags.io -->

</head>